/* presentation */
.aplication-landing--hero--message {
  position: absolute;
  width: 30%;
  margin-top: 3%;
  margin-left: 15%;
}
.aplication-landing--hero--message p {
  font-size: 24px;
}
.aplication-landing--hero--message h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}

.aplication-landing--hero--message h1 {
  font-weight: 700;
  font-size: 30px;
}

.aplication-landing--hero--message--tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 80px;
  
}
.menssagepromotion {
  font-family: "Montserrat", sans-serif;
  margin-left: 9%;
  margin-top: -5%; 
  font-size: 24px;  
}

.menssagepromotion2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 19%;
  font-size: 24px;
  position: absolute;
  width: 30%;
  margin-left: 60%;
}

.menssagepromotion3 {
  font-family: "Montserrat", sans-serif;
  margin-top: 15%;
  font-size: 24px;
  position: absolute;
  width: 28%;
  margin-top: 30%;
  margin-left: 330px;
}

.menssagepromotion3 h2{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}


/* presentation -> login */

.aplication-landing--hero--login-container {
  position: absolute;
  margin-left: 1000px;
  margin-top: 53%;
  margin-left: 41%;
  padding-left: 35px;
  width: 400px;
  height: 60%;
  background-color: #303841;
}

.login-container--internal_box {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  list-style: none;
  margin-left: 40px;
  color: white;
}

.login--tittle {
  margin-top: 30px;
  margin-bottom: 50px;
  color: aliceblue;
  font-weight: 700;
  font-size: 24px;
}


.login--forgot_password {
  display: absolute;
  padding-left: 42px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: rgb(243, 242, 242);
}

.login--register_account {
  display: absolute;
  padding-left: 5px;
  margin-bottom: 40px;
  margin-top: 15px;
  color: black;
}

.login--forgot_password a,
.login--register_account a {
  text-decoration: none;
}

.login-container--internal_box button {
  margin-left: 70px;
  margin-top: -10px;
}


/* testaments */
.users-testaments {
  margin-top: 43%;
}

.users-testaments--tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3vh;
  margin-right:-90px ;
  margin-top: 90%;
}

.testament-owner {
  text-align: center;
  margin-top: 0%;
  font-size: larger;
  line-height: 0.2;
  margin-left: 3%;
  font-family: "Poppins", sans-serif;
}

.testament--phrase {
  display: block;
  justify-content: center;
  font-size: larger;
  width: 34%;
  text-align: center;
  margin-left: 35%;
  font-family: "Montserrat", sans-serif;
}

/* socials */
.aplication-landing--socials {
  margin-top: 8%;
  margin-bottom: 7%;
  margin-left: 4%;
}

.aplication-landing--socials--toptext {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.aplication-landing--socials--subtitle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.aplication-landing--socials--images {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
}
