/* presentation */

body {
  width: auto;
}

.aplication-landing--hero--message {
  position: absolute;
  width: 30%;
  margin-top: 3%;
  margin-left: 15%;
}
.aplication-landing--hero--message p {
  font-size: 24px;

}

.aplication-landing--hero--message h1 {
  font-weight: 700;
  font-size: 30px;
}

.aplication-landing--hero--message--tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-left: 9%;
  margin-top: 4%;
  margin-bottom: 80px;
 
  
}




.menssagepromotion {
  font-family: "Montserrat", sans-serif;
  margin-left: 7%;
  margin-top: -5%; 
  font-size: 24px;  
}



.menssagepromotion2 {
  font-family: "Montserrat", sans-serif;
  margin-top: 25%;
  font-size: 24px;
  position: absolute;
  width:28%;
  margin-left: 17%;

}



.menssagepromotion3 h2{
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}


.image {
  position: relative;
  margin-left: 36%;
  padding-top: 40%
  
}
.image img {
  width: 50%; 
  position: relative;
}



/* presentation -> login */

.aplication-landing--hero--login-container {
  position: absolute;
  border-radius: 5%;
  margin-left: 40%;
  margin-top: -52%;
  margin-left: 64%;
  padding-left: 50px;
  width: 400px;
  height: 60%;
  background-color: #303841;
}

.login-container--internal_box {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  list-style: none;
  margin-left: 40px;
  color: white;
}

.login--tittle {
  margin-top: 30px;
  margin-bottom: 50px;
  color: aliceblue;
  font-weight: 700;
  font-size: 24px;
}


.login--forgot_password {
  display: absolute;
  padding-left: 42px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: rgb(243, 242, 242);
}

.login--register_account {
  display: absolute;
  padding-left: 5px;
  margin-bottom: 40px;
  margin-top: 15px;
  color: black;
}

.login--forgot_password a,
.login--register_account a {
  text-decoration: none;
}

.login-container--internal_box button {
  margin-left: 70px;
  margin-top: -10px;
}


/* testaments */
.users-testaments {
  margin-top: 43%;
}

.users-testaments--tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3vh;
  margin-left:90px ;
  margin-top: -40%;
}

.testament-owner {
  text-align: center;
  margin-top: 0%;
  font-size: larger;
  line-height: 0.2;
  margin-left: 3%;
  font-family: "Poppins", sans-serif;
}

.testament--phrase {
  display: block;
  justify-content: center;
  font-size: larger;
  width: 34%;
  text-align: center;
  margin-left: 35%;
  font-family: "Montserrat", sans-serif;
}

/* socials */
.aplication-landing--socials {
  margin-top: 8%;
  margin-bottom: 7%;
  margin-left: 4%;
}

.aplication-landing--socials--toptext {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.aplication-landing--socials--subtitle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.aplication-landing--socials--images {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
}



.login--forgot_password a {
  color: transparent;
  color: aliceblue;
}

.login--forgot_password a:hover {
  color:#9fd3c7;
}

.login--register_account a {
  color: transparent;
  color: aliceblue;
}

.login--register_account a:hover{
  color:#9fd3c7;
}





.login-input__valid {
  border: 2px solid green;
}
.login-input__invalid {
  border: 2px solid red;
}

.prueba-de-border {
  border: 2px solid red;
}

#inputs-error {
  width: 325px;
  padding: 10px;
  border: 6px solid rgb(186, 0, 0);
  margin-left: -12%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(189, 25, 25);
  border-radius: 15px;
}

#inputs-error {
  display: none;
}

#saved-changes {
  padding: 10px;
  border: 6px solid rgb(42, 194, 42);
  margin-left: 10%;
  padding-bottom: 2%;
  margin-top: 1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(105, 240, 125);
  border-radius: 15px;
  text-align: center;
  width: 38%;
}

#saved-changes {
  display: none;
}

.password-toggle {
  position: relative;
  cursor: pointer;
  top: 2.5px;
  right: 10px;
}

#eye-icon {
  font-size: 18px;
  margin-left: -8%;
  color: black;
}