/* presentation */
.aplication-landing--hero--message {
  position: absolute;
  width: 30%;
  margin-top: 3%;
  margin-left: 10%;
}
.aplication-landing--hero--message p {
  font-size: 24px;
}
.aplication-landing--hero--message h2 {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 30px;
}

.aplication-landing--hero--message h1 {
  font-weight: 700;
  font-size: 30px;
}

.aplication-landing--hero--message--tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 36%;
  margin-top: 1%;
}
.aplication-landing--hero--benefits {
  font-family: "Montserrat", sans-serif;
}

/* presentation -> login */

.aplication-landing--hero--login-container {
  position: absolute;
  margin-left: 1000px;
  margin-top: 4%;
  padding-bottom: -10;
  padding-left: 30px;
  width: 400px;
  height: 60%;
  background-color: #303841;
}

.login-container--internal_box {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  list-style: none;
  margin-left: 40px;
  color: white;
}

.login--tittle {
  margin-top: 10px;
  margin-bottom: 50px;
  color: aliceblue;
  font-weight: 700;
  font-size: 24px;
}

.login--forgot_password {
  display: absolute;
  padding-left: 42px;
  padding-bottom: 30px;
  padding-top: 10px;
  color: black;
}

.login--register_account {
  display: absolute;
  padding-left: 20px;
  margin-bottom: 30px;
  color: black;
}

.login--forgot_password a,
.login--register_account a {
  text-decoration: none;
}

/* testaments */
.users-testaments {
  margin-top: 43%;
}

.users-testaments--tittle {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 36%;
  margin-top: 1%;
  font-size: 3vh;
  margin-top: 1%;
}

.testament-owner {
  text-align: center;
  margin-top: 0%;
  font-size: larger;
  line-height: 0.2;
  font-family: "Poppins", sans-serif;
}

.testament--phrase {
  display: block;
  justify-content: center;
  font-size: larger;
  width: 34%;
  text-align: center;
  margin-left: 34%;
  font-family: "Montserrat", sans-serif;
}

/* socials */
.aplication-landing--socials {
  margin-top: 8%;
  margin-bottom: 7%;
}

.aplication-landing--socials--toptext {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.aplication-landing--socials--subtitle {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.aplication-landing--socials--images {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
}
