.addWorkExperience {
  margin: 0 auto;
  padding: 20px;
  width: 550px;
}
.addWorkExperience--header {
  font-family: "Poppins", sans-serif;
}
.addWorkExperience--inputs-list {
  list-style: none;
  padding: 0;
}
.addWorkExperience--inputs-list > li {
  margin-left: 100px;
}

/* inputs */
.addWorkExperience--input-label {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-bottom: 10px;
}
.text-input {
  margin-bottom: 25px;
}
.addWorkExperience--input:invalid:required {
  border: 1.5px solid red;
}

.upload-input::file-selector-button {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 0.5em;
  border: thin solid black;
  border-radius: 3px;
  cursor: pointer;
}
.addWorkExperience--input-checkbox {
  margin-top: 15px;
  transform: scale(1.6);
}

#since {
  width: 198px;
}

#until {
  width: 198px;
}

#save {
  width: 123.84px;
  margin: 0 auto;
}
