.catalogue {
  margin-left: 2vw;
  margin-bottom: 5vh;
}

.catalogue__header {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 5vw;
}
.catalogue__subtitle {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-right: 150px;
}
.catalogue__location-field {
  margin-bottom: 2vh;
}
.catalogue__save-discard {
  margin-top: 6vw;
  margin-left: 200px;
}
