.catalogue{
    margin-left: 2vw;
    margin-bottom: 34.7vh;
  }
  
  .catalogue__header{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .select {
    position: relative;
    display: flex;
    margin-top: 10px;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
   }

   .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
   }
   /* Transition */
   .select:hover::after {
    color: #f39c12;
   }
   
   .select__element {
    font-family: 'Montserrat', sans-serif;


   /* Reset Select */
   appearance: none;
   outline: 0;
   border: 0;
   box-shadow: none;
   /* Personalize */
   flex: 1;
   padding: 0 1em;
   color: #fff;
   background-color: #34495e;
   background-image: none;
   cursor: pointer;
  }


  .select__element::-ms-expand {
   display: none;
  }

  .catalogue__subtitle{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-right: 150px;
  }

  .catalogue__location-field{
    margin-bottom: 2vh;
  }

  .catalogue--text-input {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 4vh;
    resize: vertical;
    padding: 15px;
    border-radius: .25rem;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.button--green-catalogue{      
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #212529;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: .25rem;
    color: #ffffff;
    background-color: #9FD3C7;
    cursor: pointer;
    margin-right: 1%;
  }
  
  
  
  .button--green-catalogue:hover{
    background-color: #719d92;
    }

.catalogue__save-discard{
    margin-top: 2vw;
    margin-left:200px;
  }

  .button--black-catalogue{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #212529;
    text-align: center;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: .25rem;
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
    }
  .button--black-catalogue:hover{
  background-color: #ffffff;
  color: #000000;
  }