.tittle-invite-members {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 4vh;
  margin-left: 2%;
  margin-right: auto;
  margin-top: 3%;
}

.container-tittle-invite-members {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 1%;
  margin-left: 2.5%;
  font-size: 20px;
}

.formulary {
  display: flex;
  flex-direction: column;
  margin-left: 45%;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
}

.formulary__label {
  display: flex;
  margin-top: 40px;
  margin-bottom: 9px;
}

.formulary__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.button-container__invite {
  margin-left: -4px;
  margin-bottom: 30px;
}

.button-separator {
  display: inline-block;
  margin: 20px; /* Ajusta el espacio horizontal entre el separador y los botones */
  color: #ffffff;
  margin-top: 80px;
}

.formulary__message .formulary__group-btn-send {
  grid-column: span 1;
}

#function_collaborator {
  margin-top: 9px;
}
.select__function--container {
  margin-left: 2px;
}
.formulary__message {
  display: none;
  padding: 15px;
  border-radius: 5px;
  background: rgb(205, 17, 17);
  text-align: center;
}
.formulary__label__colaborator-name {
  margin-top: 0;
}
#saved-changes {
  display: none;
}

.select {
  width: 21.8%;
  margin-left: -1px;
}
