* {
  box-sizing: border-box;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  /* margin-top: 20%; */
  .avatar-preview {
    width: 192px;
    height: 192px;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      /* background-image: url(../../images/defaultUser.png); */
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .avatar-preview__error {
    border: 6px solid #ff0000;
  }
}

.avatar-upload {
  margin-top: 150px;
}

.avatar-upload-input[type="file"] {
  display: none;
}

#avatar-preview {
  border-style: none;
  box-shadow: none;
  margin-top: 8%;
  margin-left: -37%;
}

.avatar-upload-input--label {
  width: 90%;
  background-color: #9fd3c7;
  margin-left: -46%;
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  margin-left: -80px;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  margin-left: -123px;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container-form {
  color: #ececec;
  border-radius: 5px;
  background-color: #303841;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin-top: -150px;
  margin-bottom: 200px;
}

.form-group .btn {
  background-color: #1d1c1c;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-left: 150px;
}

.password div form {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

#address {
  width: 86%;
}

.colums {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.colums div {
  padding: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#from,
#to {
  width: 245px;
}

.sct-form {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: -100px;
}

.sct-form h2 {
  display: flex;
  justify-content: center;
  font-family: "poppis", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.form {
  padding: 30px 40px;
}

.form-control {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 10px;
}

.form-control select {
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  padding: 15px;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
  padding-bottom: 30px;
  padding-left: 10px;
  width: 335px;
}

.form-control input {
  font-family: "Montserrat", sans-serif;
  resize: vertical;
  padding: 15px;
  border-radius: 0.25rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  width: 335px;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control input[type="file"] {
  resize: none;
  box-shadow: unset;
}

.form-control select:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #04ff00;
}

.form-control.success select {
  border-color: #04ff00;
}

.form-control.error input {
  border-color: #ff0000;
}

.form-control.error select {
  border-color: #ff0000;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 45px;
  margin-left: 50%;
}

.form-control i.fa-eye {
  color: #000;
  visibility: visible;
  position: absolute;
  top: 50px;
}

.form-control small {
  visibility: hidden;
}

.confirmation-mail {
  visibility: hidden;
}

.form-control.error small {
  color: #ff0000;
  visibility: visible;
}

.btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 30px 0 30px 0;
}

.btn-cont div {
  margin: 0 0 20px 20px;
}

.btn-cont button {
  width: 245px;
}

.session {
  display: flex;
  justify-content: center;
  margin-top: -170px;
}

.session button {
  width: 245px;
}

.add-button {
  margin-left: 79px;
}

.password-input-container {
  max-width: 500px;
}
.text-input {
  border: 0;
  outline: none;
}

.text-input__invalid {
  border: 3px solid red;
}

.text-input__valid {
  border: 4px solid rgb(9, 196, 9);
}

.error__message {
  font-family: "Montserrat", sans-serif;
  color: red;
  font-size: 15px;
  display: none;
  margin-top: 0;
}
#first-password--message {
  margin-left: 89px;
}
#second-password--message {
  margin-left: -130px;
}

.password-inputs-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.location-container {
  margin-right: -200px;
}

.general-location-container {
  margin-top: 40px;
  margin-right: 200px;
}

.genre-container {
  margin-right: 40px;
}

select:disabled {
  opacity: 1;
}



#error-email_message {
  display: none;
  padding: 10px;
  border: 6px solid rgb(186, 0, 0);
  margin-left: -12%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(189, 25, 25);
  border-radius: 15px;
}

#error-password-message {
  display: none;
  padding: 10px;
  border: 6px solid rgb(186, 0, 0);
  margin-left: -12%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(189, 25, 25);
  border-radius: 15px;
}


.valid-input-landing {
  border: 2px solid green;
}
.invalid-input-landing {
  border: 2px solid red;
}

.prueba-de-border {
  border: 2px solid red;
}

#inputs-error {
  display: none;
  padding: 10px;
  border: 6px solid rgb(186, 0, 0);
  margin-left: -12%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(189, 25, 25);
  border-radius: 15px;
}

#saved-changes{
  display: none;
  padding: 10px;
  border: 6px solid rgb(42, 194, 42);
  margin-left: -4%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(105, 240, 125);
  border-radius: 15px;
}


#error-email_message {
  display: none;
  padding: 10px;
  font-size: 14px;
  margin-left: -18%;
  padding-bottom: 2%;
  margin-top:-3%;
  color: rgb(254, 0, 0);
}

#error-password-message {
  display: none;
  padding: 10px;
  font-size: 14px;
  margin-left: -35%;
  padding-bottom: 2%;
  margin-top:-3%;
  color: rgb(255, 0, 0);
 
}


.valid-input-landing {
  border: 4px solid green;
}
.invalid-input-landing {
  border: 4px solid red;
}

.prueba-de-border {
  border: 2px solid red;
}

#inputs-error {
  display: none;
  padding: 10px;
  border: 6px solid rgb(186, 0, 0);
  margin-left: -12%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(189, 25, 25);
  border-radius: 15px;
}

#saved-changes{
  display: none;
  padding: 10px;
  border: 6px solid rgb(42, 194, 42);
  margin-left: -4%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(105, 240, 125);
  border-radius: 15px;
}


.password-toggle {
  position: relative;
  cursor: pointer;
  top: 54%;
  right: 80%;
  color: #000;
}

#eye-icon {
  font-size: 18px;
  color: black;
  position: absolute;
 
}

#second_eye-icon {
  font-size: 18px;
  color: black;
  position: absolute;
  
}

#password-toggle{
  top:45%;
}

#second_password-toggle{
  left: 207%;
  top: -205%;
  margin-bottom: 6.3%;
}

