.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 50px;
}

.main {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  margin-left: 800px;

  margin-right: 500px;
  font-size: 20px;
}

.main textarea {
  margin-bottom: 40px;
}

.main .select {
  margin-bottom: 40px;
  margin-left: 0px;
}
.main label {
  margin-bottom: 15px;
}

.main input {
  margin-bottom: 40px;
}

.button--green {
  margin-top: 20px;
  margin-left: 23%;
}

.select {
  margin-left: 0%;
  width: 13.5em;
  padding-bottom: 0%;
}

#saved-changes {
  display: none;
}

.job-input__valid {
  border: 2px solid green;
}
.job-input__invalid {
  border: 2px solid red;
}

.prueba-de-border {
  border: 2px solid red;
}

#inputs-error {
  display: none;
}
