.form-container {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: left;
  border-radius: 10px;
  border-color: rgb(5, 3, 3);
  /* background:#f2f2f2;  */
  font-weight: bold;
  /* color: #29271f; */
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548); */
  margin-top: -5px;
  margin-bottom: 6%;
}

.form-group:after {
  margin-bottom: 25px;
  content: "";
  display: table;
  clear: both;
}



.form-group_factory {
  padding-right: 10px;
  margin-top: 4%;
}

.form-group label {
  display: block;
  font-weight: bold;
  float: left;
  width: 25%;
  margin-top: 10px;
}

.form-group_factory label {
  display: block;
  font-weight: bold;
  float: left;
  width: 25%;
  margin-top: 100px;
}

.form-group_factory input[type="file"] {
  width: 70%;
  padding: 5px;
  float: left;
  margin-top: 90px;
}

.form-group input[type="text"] {
  width: 70%;
  padding: 5px;
  float: left;
  margin-top: 6px;

}

.form-group textarea {
  width: 70%;
  padding: 5px;
  margin-bottom: 40px;
}

.form-group .btn {
  background-color: #1d1c1c;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  margin-left: 150px;
}

.company-form--table {
  margin-left: 159px;
}

.select {
  width: 8.5em;
  height: 2em;
  margin-left: -10%;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: -0.5em;
  right: -0.9em;
  padding: 1em;
  margin-bottom: 20%;
}

.button--white_edit {
  margin-right: 10px;
  padding: 0px 35px;
}

.button-container {
  display: flex; /* Utiliza flexbox para alinear los botones */
  justify-content: flex-end; /* Alinea los botones hacia el final del contenedor (derecha) */
  margin-right: 3%;
  margin-top: 10%;
}

.form-container input:disabled,
textarea:disabled {
  background-color: rgb(222, 221, 221);
}
.select__element:disabled {
  background-color: rgb(208, 207, 207);
}

.form-container input:disabled[type="file"] {
  background-color: unset;
}

#saved-changes {
  display: none;
}

.company-input__valid {
  border: 2px solid green;
}
.company-input__invalid {
  border: 2px solid red;
}

.prueba-de-border {
  border: 2px solid red;
}

#inputs-errors {
  display: none;
  padding: 10px;
  padding-right: -200px;
  border: 6px solid rgb(186, 0, 0);
  margin-left: 26%;
  padding-bottom: 2%;
  margin-top:50%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(189, 25, 25);
  border-radius: 15px;
  width: 40%;
  text-align: center;
}

#saved-changes{
  display: none;
  padding: 10px;
  border: 6px solid rgb(42, 194, 42);
  margin-left: 28%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(105, 240, 125);
  border-radius: 15px;
  text-align: center;
  width: 38%;
}

