.tittle-invite-members {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 4vh;
  margin-left: 2%;
  margin-right: auto;
  margin-top: 1%;
}

.container-tittle-invite-members {
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: 1%;
  margin-left: 2.5%;
  font-size: 20px;
}



.formulary {
  display: flex;
  flex-direction: column;
  margin-left: 45%;
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  
}





.formulary__label {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}




/* .formulary__status-validation {
  position: absolute;
  right: 45px;
  bottom: 15px;
  z-index: 1000;
  font-size: 16px;
  opacity: 0;
} */

.formulary__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}


.button-container__invite {
  margin-left: 0%;
  margin-bottom: 30px;
}

.button-separator {
  display: inline-block;
  margin: 20px; /* Ajusta el espacio horizontal entre el separador y los botones */
  color: #ffffff;
  margin-top: 100px;
}

.formulary__message .formulary__group-btn-send {
  grid-column: span 1;
}

.formulary__message {
  display: none;
  padding: 15px;
  border-radius: 5px;
  background: rgb(205, 17, 17);
  text-align: center;
}

