.title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 50px;
}

.main {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
  margin-left: 800px;

  margin-right: 500px;
  font-size: 20px;
}

.main textarea {
  margin-bottom: 40px;
}

.main .select {
  margin-bottom: 40px;
  margin-left: 0px;
}
.main label {
  margin-bottom: 15px;
}

.main input {
  margin-bottom: 40px;
}

.button--green {
  margin-top: 40px;
  margin-left: 20%;
}

.select {
  margin-left: 0%;
  width: 13.5em;
  padding-bottom: 0%;
}



.job-input__valid {
  border: 2px solid green;
}
.job-input__invalid {
  border: 2px solid red;
}

.prueba-de-border {
  border: 2px solid red;
}

#inputs-error {
  display: none;
  padding: 10px;
  border: 6px solid rgb(186, 0, 0);
  margin-left: -12%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(189, 25, 25);
  border-radius: 15px;
}

#saved-changes{
  display: none;
  padding: 10px;
  border: 6px solid rgb(42, 194, 42);
  margin-left: -4%;
  padding-bottom: 2%;
  margin-top:1%;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px 5px rgb(105, 240, 125);
  border-radius: 15px;
}

.display-none{
  display: none;
}


