.aplication-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #595656;
    
    
  }
  
  .profile_images {
    display: flex;
    align-items: center;
  }
  
  .profile_images img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 40px;
  }

  .container {
    text-align: left;
  }
  
  .aplication-header--navbar {
    margin-left: -20px;
  }
  
  .aplication-header--navbar ul {
    display: flex;
    list-style-type: none;
    
    padding: 0;
  }
  
  .aplication-header--navbar ul li {
    margin-left: 20px;
    
  }
  
  .aplication-header--navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    
  }
  
  .bell{
    
    margin-left: auto;
  }
  
  .bell img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 10px;
  }
