.main1 {
    border-style: groove;
    margin-left: 20%;
    margin-right: 8%;
    padding-bottom: 1%;
}

.main2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: contents;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin-top: 15px;
    margin-left: 6%;
}

.formulario__grupo {
    display: flex;
    flex-direction: column;
        
  }

  #grupo__password2 {
    margin-left: -20%;
  }

.tittle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-left: 20%;
    margin-top: 25%;
}

.button1 {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    margin-left: 1200px;
    margin-top: 1%;
}

.button2 {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    margin-left: 2%;
}


  


