body {
    background: #ececec;
    background-color: #ececec;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    padding-left: 39%;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

h2 {
    color: #ececec;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-left: 12.6%;
}

.add-mail {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;
}

.mail {
    display: flex;
    color: #ececec;
    border-radius: 10px;
    background-color: #303841;
    height: 250px;
    width: 30%;
}

.mail div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.mail form {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.mail button {
    display: flex;
    justify-content: space-around;
}

.btn-light {
    background-color: transparent;
    color: #ececec;
    width: 200px;
    height: 50px;
    border: #ececec 1px solid;
    border-radius: 6px;
}

.btn-light:hover {
    cursor: pointer;
    background-color: #9fd3c7;
}