.toptext {
    font-family: 'Montserrat', sans-serif;
    text-align: center
}
.objectframe {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 35px;
    text-align: center;
    width: 25%;
    background-color: #716F6F;
    color: #FFFFFF
}
.objectframe h2 {
    margin-top: 0;
}
.button--white{
	font-family: 'Montserrat', sans-serif;
    display: inline-block;
	color: #212529;
	text-align: center;
	border: 1px solid black;
	padding: 10px 20px;
	font-size: 20px;
	line-height: 1.5;
	border-radius: .25rem;
	color: #000000;
	background-color: #ffffff;
	cursor: pointer;
}
.button--white:hover{
	background-color: #c0c0c0;
	color: #000000;
}
