.tittle{
    text-align: center;
    margin-top:36%;
    font-family: 'Poppins', sans-serif;
}

.testament-owner {
    text-align: center;
    margin-top: 0%;
    font-size: larger;
    line-height: 0.2;
    font-family: 'Poppins', sans-serif;
    
    
}

.phrase{
    display: block;
    justify-content: center;
    font-size: larger;
    width: 34%;
    text-align: center;
    margin-left: 34%;
    font-family: 'Montserrat', sans-serif;
}

.phrase p:last-child {
    text-decoration: transparent;
    color: rgba(70, 70, 70, 0.535);
    font-size: small;
    margin-top: -10px;
    font-family: 'Montserrat', sans-serif;
    
}