.forget-password {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 10%;
}

.forget-password--text-header {
  padding-left: 39%;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.add-mail {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.mail {
  display: flex;
  color: #ececec;
  border-radius: 10px;
  background-color: #303841;
  height: 250px;
  width: 30%;
  padding-bottom: 70px;
}

.mail div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.mail form {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.mail button {
  display: flex;
  justify-content: space-around;
}
