.forget-password {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 200px;
}

.forget-password--text-header {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.add-mail {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  margin-top: 5%;
  
}

.mail {
  display: flex;
  justify-content: center;
  color: #ececec;
  border-radius: 10px;
  background-color: #303841;
  height: 310px;
  width: 30%;
  padding-bottom: 70px;
  
}

.mail div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 20px;
 
}

.mail form {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.mail form label {
  margin-bottom: 10px;
}

.mail button {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
