.sct-form {
    display: flex;
    align-items: center;
    margin-top: 4.1%;
    flex-direction: column;
    min-height: 65vh;
}

.sct-form h1 {
    font-size: 40px;
    font-family: "poppins", sans-serif;
    font-weight: 700;
}

.sct-form h2 {
    display: flex;
    justify-content: center;
    font-family: "poppis", sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.sct-form button {
    margin-left: 180px;
}

.container {
    color: #ececec;
    border-radius: 5px;
    background-color: #303841;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 700px;
    height: 400px;
    max-width: 100%;
}

.form {
    padding: 30px 40px;
}

.form-control {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
}

.form-control.success input {
    border-color: #04ff00;
}

.form-control.error input {
    border-color: #ff0000;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 45px;
    margin-left: 50%;
}

.form-control small {
    visibility: hidden;
}

.confirmation-mail {
    visibility: hidden;
}

.form-control.error small {
    color: #ff0000;
    visibility: visible;
}